/*!*help*!*/

/*.red {color: red;}*/

/*.blue {color: blue;}*/





body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

h1, h2 {
    margin: 0;
    padding: 0;
}


.section{
    width: 1100px;
    padding: 30px;
    background-color: #f0f0f0;
    margin: 0 auto;
}

.hero{
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    height: 100vh;
    /*background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));*/
    /*background-image: url("../images/background.jpg");*/
    /*background-blend-mode: lighten;*/
    background:

            linear-gradient(to right, purple 0%, yellow 90%),
            url('../images/background.jpg') 30px,
            url('../images/background.jpg') 20px;
    background-blend-mode: screen, difference, lighten;
}

.full-width{
    width: 100vw;
}
.titles {
    width: 450px;
    height: 150px;
    align-items: center;
    padding: 35px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: 150px;
    color: rgb(255,255,225);
    background-color: rgba(225,225,225,.40);
    text-align: left;
}

.titles h1{
    margin-bottom: 10px;
}

.lyrics{
    width: 350px;
    height: 100vh;
    margin: auto;
    padding: 30px;
    background-color: rgb(215,215,215);
}

button{
    width: 170px;
    height: 30px;
    margin-top: 25px;
    background-color: rgb(255,157,57);
    border: 0;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 7px rgb(40,40,40);
}

.stage{
    margin: auto;
    margin-top: 50px;
}

.lyrics h1{
    padding: 10px;
    background-color: rgb(225,225,225);
}

.section{
    text-align: center;
    alignment: center;
}

.features{
    background-color: rgb(225,225,225);

}

.section .title h1{
    margin-bottom: 30px;
    font-size: 35px;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.card{
    width: 200px;
    height: 200px;
    padding: 30px;
    margin: 20px;
    text-align: center;
    background-color: rgb(215,215,215);
    box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
    transition: all 500ms ease-in-out;
}



.icon{
    margin-top: 10px;
    fill: rgba(255,157,57,.4);

}

.card:hover .icon{
    stroke: black;
    stroke-width: 3px;
    fill: rgba(255,157,57,.9);
}

.card:hover{
    color: rgb(255,157,57);
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,.5);
}

.card .icon{
    transition: all 500ms ease-in-out;
}

.two-col-block {
    display: flex;
    justify-content: center;

    height: 450px;

}

.two-col-block > * {
    width: 50%;

}

.block-img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: aliceblue;

}

.block-img>*{
    max-width: 100%;


}

.block-text{
    background-color: azure;


}

.block-text > *{
    margin: 30px;
}

.two-col-block:nth-child(even) .block-img{
    order: 2;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content .list li::before{
    position: relative;
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    font-family: 'Font Awesome 5 Free';
    font-size: 14px;
    font-weight: 900;
}


.content{
    padding: 30px;
    height: fit-content;
    margin: 10px;
    text-align: left;
}

.content .list.red-all li::before {color: red;}

.content .list.blue-all li::before {color: blue;}

.content .list li.red::before {color: red;}

.content .list li.blue::before {color: blue;}


.content .list.check li::before{
    content: '\f00c';
}

.content .list.check-circle li::before{
    content: '\f058';
}

.img-wrapper{
    z-index: 1;
    position: relative;
    display: inline-block;
    margin: 40px 0;
}

.img-wrapper.decorated::before,
.img-wrapper.decorated::after {
    position: absolute;
    z-index: -1;
    content: '';
    width: 50px;
    height: 50px;
    background-color: aquamarine;

}

.img-wrapper.decorated::before{

     top: -20px;
     left: -20px;
 }

.img-wrapper.decorated::after{

    bottom: -20px;
    right: -20px;
}